<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/listgroup.css">
</head>
<body>
    <ul>
        <li>
             <div class="group__item">
                 <a href="">
                     <div class="item">
                         <div class="image">
                             <img class="avatar" src="/images/avatar.jpg" alt="">
                         </div>
                         <div class="group--name">
                             <p>Group name</p>
                         </div>
                     </div>
                 </a>
             </div>
        </li>
         <li>
            <div class="group__item create__group">
                <a href="">
                    <div class="item">
                        <div class="plus-icon">
                            <p>+</p>
                        </div>
                        <div class="group--name">
                            <p>Create new group</p>
                        </div>
                    </div>
                </a>
            </div>
        </li>
     </ul>
</body>
</html>
