<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Đăng nhập</title>
</head>

<body>

<div class="content">
    <img src="/images/logo.png" alt="Hình ảnh Logo BKSN">
    <div class="form-login">
        <form id="login-form">
            <input type="text" id="email" name="email" placeholder="Email">
            <input type="password" id="pwd" name="pwd" placeholder="Mật khẩu">
            <p id="error"></p>
            <input type="submit" id="loginbtn" value="Đăng nhập"><br>
            <a href="/register">Bạn chưa có tài khoản?</a>
            <a href="/changePwd">Quên mật khẩu?</a>
            <a href="/auth/azure">Đăng nhập bằng tài khoản Hust</a>
        </form>
    </div>
</div>
</div>
<div class="footer">

</div>

</body>

<script src="/js/login.js"></script>
</html>
