<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/newpost.css">
</head>
<body>
    <!-- Box đăng bài -->
    <div class="post-section__post-creator">
        <img src="<%= user.avatar %>" alt="" class="post-creator__avatar">
        <div class="post-creator__content">Create a public post ...</div>
    </div>
    <div class="global-wrapper second-flow" style="display: none">
        <div class="modal-box">
            <div class="modal-box__title">Tạo bài viết</div>
            <img src="images/icons/remove.png" class="modal-box__remove-icon">
            <div class="modal-box__creator-info">
                <img src="<%= user.avatar %>" class="creator-info__avatar">
                <div class="creator-info__name"><%= user.name %></div>
            </div>
            <form action="" id="form" class="modal-box__form" onchange="preview_image(event)" >
                <div class="wrap-content-image">
                    <textarea name="post-content" id="contentPost" class="form__text-input" placeholder="What are you thinking?"></textarea>
                    <div class="wrap-image">
                        <img id="output_image">
                    </div>
                </div>
                <div class="file-upload">
                    <input type="file" name="file" id="file">
                </div>
                <button type="submit" class="form__submit-button form__submit-button--not-allowed">Post</button>
            </form>
        </div>
    </div>

    <script src="js/newpost_events.js" defer></script>
</body>
</html>
