<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/successfulSendingEmail.css">
    <title>Request sent</title>
</head>
<body>
    <div class="global-wrapper">
        <div class="success-box" method="POST">
            <div class="form__title">Successfully sending email</div>
            <div class="form__body">
                <div class="body__description">
                    Please check your email for a link to reset your password. If it doesn’t appear within a few minutes, check your spam folder.
                </div>
            </div>
            <div class="form__btn-group">
                <a href="/login">Return to log in</a>
            </div>
        </div>
    </div>
</body>
</html>