/* ===== normalize css ===== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* ============================================================ */

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.global-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e9ebee;
}

form {
    width: 500px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form__title {
    padding: 20px;
    border-bottom: 1px solid #c1c1c1;
    font-size: 22px;
    font-weight: 600;
}

.form__body {
    padding: 20px;
    border-bottom: 1px solid #c1c1c1;
    font-size: 17px;
}

.input-wrapper--mt {
    margin-top: 20px;
}

.input-with-eye {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 14px;
    padding: 16px;
    border: 1px solid #afafaf;
    border-radius: 6px;
    cursor: text;
}

.input-with-eye > input {
    flex-grow: 1;
    border: 0; outline: none;
    padding: 0;
    font-size: inherit;
}

.input-with-eye > input::placeholder {
    color: #afafaf;
    font-weight: 100;
}

.input-with-eye > i {
    margin-left: 12px;
    color: #6f7782;
    cursor: pointer;
}

.alert-area {
    display: none;
    flex-direction: row;
    margin-top: 12px;
}

.alert-icon {
    width: 16px;
    height: 16px;
}

.alert-message {
    margin-left: 8px;
    font-size: 14px;
    color: #e22134;
}

.form__btn-group {
    padding: 20px;
    overflow: auto;
}

.form__btn-group > button {
    float: right;
    padding: 9px 20px;
    border-radius: 6px;
    border: none;
    font-size: inherit;
    font-weight: 600;
    cursor: pointer;
}

.form__btn-group > button[type="button"] {
    margin-left: 10px;
    background-color: #e4e6eb;
    color: #4b4f56;
}

.form__btn-group > button[type="button"]:hover {
    background-color: #d9dbe0;
}

.form__btn-group > button[type="submit"] {
    background-color: #e66f6f;
    color: #fff;
}

.form__btn-group > button[type="submit"]:hover {
    background-color: #e85c5c;
}