html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.global-container {
    min-width: 100vw;
    min-height: 100vh;
    background: #f6f8f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form {
    width: 480px; /* adjust later, need responsive care */
    min-height: 300px; /* adjust later, need responsive care */
    padding: 64px 48px 40px 48px; /* adjust later, need responsive care */
    box-sizing: border-box;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 20px 0 rgba(21,27,38,.08);
    color: #6f7782;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.signup-form__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__logo {
    width: auto;
    height: 100px;
}

.signup-form__header > div {
    margin-top: 40px;
    font-size: 23px;
    font-weight: bold;
}

.signup-form__body {
    margin-top: 60px; /* adjust later, need responsive care */
    font-size: 12px;
}

.input-wrapper--col {
    display: flex;
    flex-direction: column;
}

.name-input-wrapper {
    display: flex;
    flex-direction: row;
}

.input-wrapper--ml {
    margin-left: 16px;
}

.input-wrapper--mt {
    margin-top: 16px;
}

.input-wrapper--col > input, .option-wrapper, #major-list {
    margin-top: 8px;
}

.input-wrapper--col > input, #major-list {
    padding: 4px 12px;
    border: 1px solid #cbd4db;
    border-radius: 6px;
    height: 36px;
    font-family: inherit;
    font-size: 14px;
}

.input-wrapper--col > input:focus, #major-list:focus {
    outline: none;
    border-color: rgb(132, 141, 149);
    box-shadow: inset 0 1px #e8ecee;
}

.input-with-eye {
    display: flex;
    align-items: center;
    margin-top: 8px;
    padding: 0 12px;
    height: 36px;
    border: 1px solid #cbd4db;
    border-radius: 6px;
}

.input-with-eye > input {
    outline: none;
    border: none;
    font-size: 14px;
    font-family: inherit;
    width: 100%;
}

.input-with-eye > i {
    width: 15px;
    margin-left: 12px;
    cursor: pointer;
}

.alert-area {
    display: none;
    flex-direction: row;
    margin-top: 8px;
}

.alert-icon {
    width: 16px;
    height: 16px;
}

.alert-message {
    margin-left: 8px;
    font-family: inherit;
    font-size: 14px;
    color: #e22134;
}

.input-note {
    margin-top: 8px;
    line-height: 1.25em;
}

.option-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.option-wrapper > select {
    width: 115px;
    padding: 4px 12px;
    border: 1px solid #cbd4db;
    border-radius: 6px;
    height: 36px;
    font-family: inherit;
    font-size: 14px;
}

.option-wrapper > select:focus {
    outline: none;
    border-color: rgb(132, 141, 149);
    box-shadow: inset 0 1px #e8ecee;
}

.option > input {
    cursor: pointer;
}

.option > label {
    font-size: 14px;
    cursor: pointer;
}

.body__terms {
    width: 100%;
    margin-top: 24px;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 1.3;
}

.body__submit-button {
    width: 100%;
    height: 36px;
    background-color: #ad2020;
    border: 1px solid #ad2020;
    outline: none;
    border-radius: 6px;
    font-size: 14px;
    font-family: inherit;
    display: block;
    color: #fff;
    margin-top: 32px;
    cursor: pointer;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.body__submit-button:hover {
    background-color: #8c1515;
    border-color: #8c1515;
}

.signup-form__footer {
    text-align: center;
    margin-top: 24px;
}

a {
    color: #8c1515;
}

a:hover {
    color: #e51111;
    transition: .2s;
}